services:
  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: gotenberg
    ports:
      - "3000:3000"
    command:
      - "gotenberg"
      - "--api-timeout=120s"
      - "--log-level=debug"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
